hr {
  margin: 0;
}

.rodape {
  padding: 1em;
  background: var(--bg-rodape);
}

.rodape__titulo {
  color: var(--azul);
  font-weight: 400;
}

.lista-rodape {
  display: none;
}

@media screen and (min-width: 1024px) {
  .rodape {
    display: flex;
    justify-content: space-around;
  }

  .lista-rodape {
    margin: 0 3em;
  }

  .lista-rodape__titulo {
    color: var(--cinza);
    margin-bottom: 1em;
    font-size: 14px;
  }

  .lista-rodape__link {
    text-decoration: none;
    color: var(--cinza);
    font-size: 14px;
    margin-left: 0.6em;
  }

  .rodape__titulo {
    font-size: 24px;
    color: var(--preto);
    font-weight: 400;
  }
  .lista-rodape__item {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
  }

  .lista-rodape {
    display: block;
  }
}
